/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2014, 4:02:37 PM
    Author     : frankent
*/

@import url('fonts/quark.css');


.quark{
    font-family: 'quarklight';
}

body{
    background-color: #333;
}

.white, a.white{
    color: #fff;
}

.orange, a.orange{
    color: #ff6501;
}

.orange2, a.orange2{
    color: #b83f22;
}

.font_18{
    font-size: 18px;
}

.font_20{
    font-size: 20px;
}

.margin_top_0{
    margin-top: 0px;
}

.margin_top_min50{
    margin-top: -50px;
}

.m_margin_top_min50{
    margin-top: -50px;
}

.txt_center{
    text-align: center;
}

.main_menu{
    height: 326px;
    background: url("img/header_bg.jpg") center no-repeat;
}

.table_custom td{
    padding: 5px;
}

.menu{
    display: inline-block;
    padding: 0px;
}

.menu li{
    display: block;
    float: left;
    margin: 5px 20px;
}

.menu li a{
    color: #fff;
}

.menu li.current-menu-item a, .menu li.current-post-ancestor a, .menu  li.current-menu-parent a{
    color: #fd6000;
}

.menu-main-menu-container{
    margin-top: 152px;
    text-align: right;
}

.propotext{
    height: 455px;
    background: url("img/bg_circle.png") no-repeat top center;
    margin-top: -105px;
    text-align: center;
}

.other_top_page{
    background: url("img/bg_circle.png") no-repeat top center;
    min-height: 1000px;
}

.slide_index{
    height: 626px;
    background-image: url("img/slide_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center -904px;
    position: relative;
}

.hRound{
    background: url("img/half_round_2.png") no-repeat center;
    width: 78px;
    height: 40px;
}

.slide_index .hRound{
    position: absolute;
    margin: 0px auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.frame_slide{
    padding: 100px 0px 20px;
    font-size: 18px;
    height: 440px;
    overflow: auto;
    position: absolute;
    top: 0px;
    width: 100%;
}

ul.slide_bullet{
    padding: 0px;
    display: block;
    text-align: center;
    margin-top: 440px;
}

ul.slide_bullet li{
    display: inline-block;
    text-indent: 100px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    background: url("img/bullet_inactive.png") center; 
    margin: 0px 8px;
    cursor: pointer;
}

ul.slide_bullet li.active, ul.slide_bullet li:hover{
    background: url("img/bullet_active.png") center; 
}

.body_content{
    background-image: url("img/main_body_bg.jpg");
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat
}

.news_blog{
    height: 122px;
    background-image: url("img/news_header.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center;
}

.contact_blog{
    height: 122px;
    background-image: url("img/main_contactform_splash.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center;
}

.news_blog_bottom{
    height: 128px;
    background-image: url("img/news_footer.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}

.news_area{
    background-image: url("img/news_body.png");
    background-position: top center;
}

.txt_right{
    text-align: right;
}

.partner_list{
    color: #fff;
    font-size: 13px;
}

.partner_list p{
    margin: 7px 0px;
    /*text-indent: 30px;*/
}

.footer_upper{
    height: 200px;
    background: url("img/footer_bg.jpg") repeat-x;
    margin-top: 80px;
}

.footer_bottom{
    height: 60px;
    background-color: #ff6600;
}

ul.footer_menu{
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

ul.footer_menu li{
    display: inline-block;
    padding: 3px 15px;
    border-left: 1px solid #000;
    /*margin: 17px 0px;*/
}

ul.footer_menu li:first-of-type{
    border-left: none;
}

ul.footer_menu li a{
    color: #000;
}

#map_canvas{
    height: 520px;
}

.sidebar_menu li{
    list-style: none;
}

.gray, a.gray, .gray a{
    color: #949693;
}

.content_archieve{
    padding-bottom: 20px;
    border-right: 1px solid #666;
}

.bold{
    font-weight: bold;
}

h4.siteLabel{
    padding: 10px 10px 8px;
    color: #fff;
    background-color: #ff6800;
}

ul.custom_bullet{
    padding-left: 20px;
}

ul.custom_bullet li{
    text-indent: -12px;
    list-style: none;
}

.other_top_page_about{
    background: url("img/Aboutus_bg.png") no-repeat top center;
}

.orange_ribbon{
    height: 87px;
    background-color: #ff6600;
}

a.btn_for_partner_about{
    margin: 10px 0px;
    line-height: 67px;
    color: #fff;
    font-size: 16px;
    position: relative;
}

a.btn_for_partner_about img{
    position: absolute;
    bottom: -91px;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;
}

a.btn_for_partner_about:hover, a.btn_for_partner_about.active{
    color: #ff6800;
    background-color: #fff;
    text-decoration: none;
}

a.btn_for_partner_about > img{
    opacity: 0;
}

a.btn_for_partner_about:hover > img, a.btn_for_partner_about.active > img{
    opacity: 1;
}

.content_partner{
    color: #fff;
}

.content_partner h1,.content_partner h2,.content_partner h3,.content_partner h4,.content_partner h5,.content_partner h6,
.content_archieve h1,.content_archieve h2,.content_archieve h3,.content_archieve h4,.content_archieve h5,.content_archieve h6{
    color: #ff6800;
    font-family: 'quarklight';
}

.content_archieve a, .content_partner a{
    color: #ff6800;
}

.content_archieve a:hover, .content_partner a:hover{
    color: #b83f22;
}

a.go_to_project{
    width: 285px;
    height: 93px;
    display: inline-block;
    background: url("img/about_viewproject_normal.png");
    margin-top: 40px;
}

a.go_to_project:hover{
    background: url("img/about_viewproject_hover.png");
}

.opt_zoom{
    background-position: center;
    background-size: 100%;
}

.Prop{
    min-height: 504px;
    background-repeat: no-repeat;
}

.Prop.Prop_L{
    background-image: url("img/main_sell_bg_left.png");
    background-position: top right;
}

.Prop.Prop_R{
    background-image: url("img/main_sell_bg_right.png");
    background-position: top left;
}

.prop_area{
    color: #fff;
}

.section_properties{
    padding: 15px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 15px 0px;
}

.aligncenter{
    display: block;
    margin: auto;
}

a.map_banner{
    display: inline-block;
    background-image: url("img/main_map_banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

a.map_banner img{
    opacity: 0;
}

a.more_btn_hover{
    display: inline-block;
    background-image: url("img/news_readmore_btn.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

a.more_btn_hover img{
    opacity: 0;
}

@media (max-width: 767px) {
    /*Fix Responsive Error*/
    .m_margin_top_min50{
        margin-top: 20px;
    }

    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }

    .footer_upper {
        height: auto; 
        background: url(img/footer_bg.jpg);
        margin-top: 80px;
    }
}